*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'montserrat', sans-serif;
}

/* navbar */

nav .logo{
    font-family: 'pacifico', cursive;
    letter-spacing: 3px;
}

nav{
    display: flex;
    background-color:aquamarine;
    justify-content: space-around;
    padding: 30px 0;
    color: rgb(36, 36, 39);
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
}

nav ul li a{
    color: rgb(26, 26, 27) ;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover{
    color: rgb(76, 76, 78);
}


/* Menu Mobile */

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: 3px;
    bottom: -4px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color:rgb(26, 26, 27) ;
    border-radius: 3px;
}




/* responsive
 ukuran tablet */

@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
    }

}

/* ukuran mobile */

@media screen and (max-width: 576px){
    nav ul{
        display: none;
    }

}


/* animasi hamburger */